<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator</h1>

    <form action="#" th:action="@{/add}" th:object="${calculator}" method="post">
            <tr>
                <td><label>First Value</label></td>
                <td><input type="number" th:field="*{x}" /></td>
            </tr>
            <tr>
                <td><label>Second Value</label></td>
                <td><input type="number" th:field="*{y}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
            </tr>
    </form>
</body>
</html>